.article {
    margin: auto;
}

.toc ul {
    padding: 2px 0;
}

.toc ul li {
    margin-left: 10px;
    list-style-type: disc;
}

.toc ul ul li {
    margin-left: 25px;
    list-style-type: circle;
}