.video::-webkit-media-controls {
    display: none !important;
}

.video::-webkit-media-controls-enclosure {
    display: none !important;
}

.video::-webkit-media-controls-panel {
    display: none !important;
}

.sceneVisual{
    position: relative;
    overflow: hidden;
}

.sceneVisual img {
    width: 100%;
    height: auto;
}

.sceneVisual .landfillClouds {
    position: absolute;
    top: 0;
    left: 0;
    animation: cloudsMovement 7s infinite ease-in;
}

@keyframes cloudsMovement {
    0% {
        transform: translate(-5px, 0);
    }

    50% {
        transform: translate(5px, 0);
    }

    100% {
        transform: translate(-5px, 0);
    }
}

.sceneVisual .landfillBirds {
    position: absolute;
    top: 0;
    left: 0;
    animation: birdsMovement 10s infinite ease-in;
}

@keyframes birdsMovement {
    0% {
        transform: translate(-20px, 7px);
    }

    25% {
        transform: translate(-6px, -4px);
    }

    50% {
        transform: translate(5px, 4px);
    }

    75% {
        transform: translate(3px, -4px)
    }

    100% {
        transform: translate(-20px, 7px);
    }
}

.sceneVisual .landfillTruckBody {
    position: absolute;
    top: 0;
    left: 0;
    animation: truckBodyMovement 15s infinite ease-in;
}

@keyframes truckBodyMovement {
    0% {
        left: -50%;
    }

    25% {
        left: 0px;
    }

    65% {
        left: 0px;
    }

    85% {
        left: -50%;
    }

    100% {
        left: -50%;
    }
}

.sceneVisual .landfillTruckIncliner {
    transform-box: fill-box;
    transform-origin: 13.41% 88%;
    position: absolute;
    top: 0;
    left: 0;
    animation: truckInclinerMovement 15s infinite ease-in;
}

@keyframes truckInclinerMovement {
    0% {
        transform: rotate(74.34deg);
        left: -50%;
    }

    25% {
        transform: rotate(74.34deg);
        left: 0;
    }

    35% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(0deg);
    }

    65% {
        transform: rotate(74.34deg);
        left: 0;
    }

    85% {
        transform: rotate(74.34deg);
        left: -50%;
    }

    100% {
        left: -50%;
        transform: rotate(74.34deg);
    }
}

.sceneVisual .landfillTruckContainer {
    transform-box: fill-box;
    transform-origin: 28% 82%;
    position: absolute;
    top: 0;
    left: 0;
    animation: truckContainerMovement 15s infinite ease-in;
}

@keyframes truckContainerMovement {
    0% {
        transform: rotate(-15.66deg);
        left: -50%;
    }

    25% {
        transform: rotate(-15.66deg);
        left: 0;
    }

    35% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(0deg);
    }

    65% {
        transform: rotate(-15.66deg);
        left: 0;
    }

    85% {
        transform: rotate(-15.66deg);
        left: -50%;
    }

    100% {
        left: -50%;
        transform: rotate(-15.66deg);
    }
}

.sceneVisual .landfillTruckStatic {
    transform-box: fill-box;
    transform-origin: 28% 82%;
    position: absolute;
    top: 0;
    left: 0;
    animation: truckStaticMovement 15s infinite ease-in;
}

@keyframes truckStaticMovement {
    0% {
        left: -50%;
        opacity: 1;
    }

    25% {
        left: 0px;
        transform: rotate(0deg);
        opacity: 1;
    }

    35% {
        left: 0px;
        transform: rotate(15.66deg);
        opacity: 0;
    }

    65% {
        left: 0px;
        opacity: 0;
    }

    85% {
        left: -50%;
        opacity: 0;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

.sceneVisual .landfillTruckGarbage {
    position: absolute;
    top: 0;
    left: 0;
    animation: truckGarbageMovement 15s infinite ease-in;
}

@keyframes truckGarbageMovement {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    52% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}