@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a:hover {
    text-decoration: underline;
}

input[type='radio']:after {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
    background-color: #535353;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
    background-color: #4f46e5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.highlight-container,
.highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}

.highlight-container:before {
    content: ' ';
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: #6afa8c;
    transform: rotate(-3deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
}
