.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    text-decoration: none;
    letter-spacing: 2px;
}

.header ul {
    justify-content: center;
    align-items: center;
}

.header ul li {
    list-style: none;
    margin-left: 20px;
}

.header a {
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

@media screen and (min-width: 50px) {
    .header {
        padding: 10px 70px;
    }
 
    .header .logo {
        font-size: 1.5em;
    }

    .menuBarIcon {
        display: flex;
    }
    
    .linksContainer {
        position: absolute;
        width: 50%;
        height: 100vh;
        top: 0;
        left: -100%;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        background-color: #000;
    }

    .header ul li a {
        color: white;
    }

    .header ul li a:hover {
        color: #cccccc
    }

    .header ul li {
        margin-top: 20px;
    }

    .header ul {
        display: block;
        width: 70%;
        margin: auto;
    }

    .linksContainer.navbarActive {
        left: 0;
    }

    .header ul.navbarActive {
        margin-top: auto
    }
}

@media screen and (min-width: 940px) {
    .header {
        padding: 30px 100px;
    }

    .header .logo {
        font-size: 2em;
    }

    .linksContainer {
        position: static;
        width: auto;
        height: auto;
        background-color: #fff;
    }

    .menuBarIcon {
        display: none;
    }

    .header ul li a {
        color: black;
    }

    .header ul li a:hover {
        color: white;
        background-color: black;
    }
    
    .header ul li {
        margin-top: auto;
    }

    .header ul {
        width: 100%;
        display: flex;
        margin: auto;
    }
}
