.carouselContainer {
    mask-image: linear-gradient(0deg, transparent 8px, white 8px), linear-gradient(-135deg, white 4px, transparent 4px), linear-gradient(135deg, white 4px, transparent 4px);
    mask-position: left bottom;
    mask-repeat: repeat-x;
    mask-size: 100% 100%, 8px 8px, 8px 8px;
}